<section class="section section-dark" id="venue">
  <div class="container venue-grid">
    <div>
      <p class="section-kicker">When &amp; where</p>
      <h2>Info</h2>
      <p class="venue-intro">The workshop will take place on the eastern campus of Ulm University reachable from the city center via tram line 2 (stop <a href="https://maps.app.goo.gl/rCHfQKLxDtiaZ6i79" target="_blank">'Botanischer Garten'</a>). Drinks and snacks will be provided, lunch at the <a href="https://sw-ulm-spl51.maxmanager.xyz/index.php?locationId=1&lang=en" target="_blank">Mensa</a> is also included.</p>
    </div>
    <dl class="details-card">
      <div><dt>Date</dt><dd>Spring 2027</dd></div>
      <div><dt>Venue</dt><dd><a href="https://maps.app.goo.gl/ENgUeYL3vKQjDW8z9" target="_blank">ZQB, Building M26, Ulm University</a></dd></div>
      <div><dt>Room</dt><dd>Seminar room 2.x, ground floor</dd></div>
      <div><dt>Hotel</dt><dd><a href="https://all.accor.com/booking/en/ibis/hotel/0800?destination=ulm-germany&compositions=1&dateIn=2026-07-21&dateOut=2026-07-22&nights=1&hideWDR=false&accessibleRoom=false" target="_blank">ibis Ulm City</a></dd></div>
      <!--<div><dt>Dinner</dt><dd><a href="" target="_blank">?</a></dd></div>-->
      <div><dt>Contact</dt><dd><a href="mailto:infoinquantumphysics@gmail.com">infoinquantumphysics@gmail.com</a></dd></div>
    </dl>
  </div>
</section>
